# playbook.yml
- hosts: all
  become: yes
  vars:
    aws_region: eu-north-1
    ecr_registry: "685631290880.dkr.ecr.eu-north-1.amazonaws.com"

  tasks:
    - name: Ensure AWS CLI installed
      package:
        name: awscli
        state: present

    - name: Ensure Docker installed
      package:
        name: docker
        state: present

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: yes 
        
    - name: Execute a command and register its output
      ansible.builtin.shell: docker compose || docker-compose
      register: compose_exist
      ignore_errors: true
        
    - name: Download Docker Compose binary
      ansible.builtin.get_url:
        url: "https://github.com/docker/compose/releases/tag/{{ docker_compose_version }}/docker-compose-linux-x86_64"
        dest: /usr/local/bin/docker-compose
        mode: '0755' # Make the binary executable
      vars:
        docker_compose_version: "v2.40.3" # Specify your desired Docker Compose version
      when: compose_exist != 0

    - name: Configure AWS CLI using GitHub Secrets
      become: yes
      become_user: ec2-user
      shell: |
        aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID" &&
        aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY" &&
        aws configure set default.region "$AWS_REGION"
      environment:
        AWS_ACCESS_KEY_ID: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}"
        AWS_SECRET_ACCESS_KEY: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}"
        AWS_REGION: "{{ lookup('env', 'AWS_REGION') }}"


    - name: Login to Amazon ECR
      become: yes
      become_user: ec2-user
      shell: |
        aws ecr get-login-password --region {{ aws_region }} \
        | docker login --username AWS --password-stdin {{ ecr_registry }}
      register: ecr_login
      changed_when: "'Login Succeeded' in ecr_login.stdout"
